@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/OpenSans-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.content-box {
  max-width: 1558px;
  padding: 0 15px;
  margin: 0 auto;
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
}

.header {
  background-image: url("../images/football_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #0a0e34;
  position: relative;
  color: #ffffff;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}

.header-content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 110px;
}

.logo-link {
  margin-bottom: 295px;
}

.logo-link-icon {
  fill: #ffffff;
  width: 192px;
}

.header-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
  font-size: 90px;
  line-height: 100px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 220px;
}

.header-title-part {
  align-self: flex-end;
}

.download-block {
  display: flex;
  font-size: 14px;
  line-height: 18px;
}

.download-block-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  border: 2px solid #5e42b0;
  background-color: #5e42b0;
  border-radius: 50px;
  padding: 20px 40px;
  width: 315px;
}

.download-block-link:first-child {
  margin-right: 54px;
}

.app-icon, .google-play-icon {
  fill: #ffffff;
  width: 40px;
  margin-right: 25px; 
}

.download-link {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.google-play-link {
  font-weight: 700;
}

.sport-section {
  position: relative;
}

.sport-section:nth-child(even) {
  overflow-x: hidden;
}

.sport-section:nth-child(odd) .sport-item-preview {
  position: absolute;
  right: 50%;
  top: 6%;
}

.sport-section:nth-child(even) .sport-item-preview {
  position: absolute;
  top: 1%;
  left: calc(50% - 215px);
}

.sport-section:nth-child(odd) .sport-item-content {
  width: calc(50% - 50px);
  max-width: 720px;
  position: relative;
  left: calc(50% + 50px);
}

.sport-section:nth-child(even) .sport-item-content {
  width: 50%;
  max-width: 720px;
}


.sport-section:nth-child(even) .sport-items .sport-item:nth-child(3) {
  background-color: #0a0e34;
}

.sport-item-image {
  display: block;
}

.sport-item {
  padding-top: 37px;
  padding-bottom: 37px;
}

.sport-item:first-child {
  padding-top: 116px;
}

.sport-item:nth-child(2) {
  background-color: #f5f4fa;
}

.sport-item:nth-child(3) {
  background-color: #5e42b0;
}

.sport-item-title {
  font-size: 80px;
  line-height: 85px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.sport-item-subhead {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.sport-section:nth-child(even) .sport-item:nth-child(3) .counter {
  color: #6c56b2;
}

.sport-item .sport-item-counter::after {
  content: "";
  background-color: #5e42b0;
  border-radius: 3px;
  width: 20px;
  height: 5px;
}

.sport-item:nth-child(3) .sport-item-counter::after {
  background-color: #ffffff;
}

.sport-item-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
}

.sport-item-subtitle {
  font-size: 36px;
  line-height: 37px;
  color: #c1c1c1;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}


.sport-item:nth-child(3) .sport-item-desc {
  color: #ffffff;
}

.promo-items {
  max-width: 1920px;
  margin: 0 auto;
}

.promo-item {
  display: flex;
  position: relative;
}

.promo-image-preview {
  display: flex;
}

.promo-item:nth-child(odd) .promo-image-preview {
  order: 1;
}

.promo-item:nth-child(even) .promo-description {
  padding-left: 9%;
  padding-right: 7%;
}

.promo-item:nth-child(odd) .promo-description {
  padding-left: 7%;
  padding-right: 9%;
}

.promo-image-preview, .promo-description {
  width: 50%;
}

.promo-image {
  display: block;
  width: 100%;
}

.promo-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-item-counter {
  width: 170px;
  height: 170px;
  background-color: #5e42b0;
  color: #ffffff;
  position: absolute;
  top: 32%;
  left: calc(50% - 85px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700
}

.promo-item-counter::after {
  content: "";
  background-color: #8f7bc8;
  border-radius: 3px;
  width: 28px;
  height: 5px;
}

.promo-item-title {
  font-size: 80px;
  line-height: 104px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  background-image: url("../images/game_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #0a0e34;
  position: relative;
  color: #ffffff;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}

.footer-content-box {
  padding-top: 228px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-content-title {
  display: flex;
  align-items: center;
}

.surface-logo {
  width: 130px;
  background-color: #6a4cc3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 14px;
  border-radius: 25px;
  margin-right: 34px;
}

.surface-logo .surface-logo-icon {
  width: 100px;
  fill: #ffffff;
}

.footer-title {
  display: flex;
  flex-direction: column;
  font-size: 80px;
  line-height: 85px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-subtitle {
  font-size: 30px;
  line-height: 34px;
  color: #a496ca;
  font-weight: 400;
  margin-top: 20px;
}

.footer-content-box .download-block {
  margin-top: 150px;
  margin-bottom: 260px;
}

.footer-content-box .logo-link {
  margin-bottom: 0;
}


@media (max-width: 960px) {

  .content-box {
    padding: 0 20px; 
  }

  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header-content-box {
    padding-top: 38px;
    padding-bottom: 90px;
  }

  .logo-link {
    margin-bottom: 168px;
  }

  .logo-link-icon {
    width: 206px;
  }

  .header-title {
    font-size: 64px;
    line-height: 83px;
    margin-bottom: 300px;
  }

  .header-title-part {
    margin-left: 100px;
  }

  .download-block {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }

  .download-block-link{
    padding: 15px 40px;
    width: 100%;
  }

  .download-block-link:first-child {
    margin-right: 30px;
  }
  
  .download-link {
    flex-shrink: 0;
  }

  .app-icon, .google-play-icon {
    width: 38px;
    margin-right: 28px;
  }

  .sport-section:nth-child(odd) .sport-item-preview {
    right: calc(100% - 340px);
    top: 120px;
  }

  .sport-section:nth-child(even) .sport-item-preview {
    position: absolute;
    top: 10%;
    right: 0;
    left: auto;
  }

  .sport-section:nth-child(odd) .sport-item-content {
    width: calc(100% - 250px);
    max-width: 400px;
    position: relative;
    left: 250px;
  }

  .sport-section:nth-child(even) .sport-item-content {
    width: 369px;
  }
  
  .sport-item:first-child {
    padding-top: 86px;
  }
  
  .sport-item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sport-item-subtitle {
    font-size: 32px;
    line-height: 33px;
  }
  
  .sport-item-subhead {
    margin-bottom: 30px;
  }
  
  .sport-item-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  
  .sport-item-title {
    margin-bottom: 60px;
  }
  
  .sport-item-desc {
    font-size: 16px;
    line-height: 24px;
  }
  
  .promo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .promo-item:nth-child(odd) .promo-image-preview {
    order: 0;
  }

  .promo-item:nth-child(even) .promo-description {
    padding-left: 33px;
    padding-right: 33px;
  }

  .promo-item:nth-child(odd) .promo-description {
    padding-left: 33px;
    padding-right: 33px;
  }

  .promo-item {
    padding-bottom: 100px;
  }

  .promo-image-preview {
    width: 100%;
  }

  .promo-description {
    width: 100%;
    position: relative;
  }

  .promo-item-counter {
    width: 116px;
    height: 116px;
    top: -90px;
    left: 32px;
  }
  
  .promo-item-title {
    margin-bottom: 0px;
    margin-top: 80px;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }
  
  .footer-content-box {
    padding-top: 126px;
    padding-bottom: 22px;
  }

  .footer-content-title {
    flex-direction: column;
  }

  .surface-logo {
    margin-right: 0;
    margin-bottom: 82px;
  }

  .footer-title {
    align-items: center;
  }

  .footer-subtitle {
    margin-top: 28px;
  }
  
}

@media (max-width: 735px) and (min-width: 641px) {
  
  .sport-section:nth-child(even) .sport-item-preview {
    right: auto;
    left: 284px;
  }
}

@media (max-width: 702px) and (min-width: 641px) {
  .footer-title {
    font-size: 70px;
  }
}

@media (max-width: 640px) {

  body {
    font-size: 16px;
    line-height: 24px;
  }

  .content-box {
    padding: 0 20px; 
  }

  .header {
    background-image: url("../images/football_767.jpg");
  }

  .header-content-box {
    padding-top: 32px;
    padding-bottom: 84px;
  }

  .logo-link {
    margin-bottom: 120px;
  }

  .logo-link-icon {
    width: 134px;
  }

  .header-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 60px;
    width: 90%;
  }

  .header-title-part {
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 30px;
  }

  .download-block {
    flex-direction: column;
    font-size: 8px;
    line-height: 10px;
    width: 100%;
  }

  .download-block-link {
    padding: 6px 82px;
    width: 100%;
  }

  .download-block-link:first-child {
    margin-right: 0px;
  }

  .download-block-link:nth-child(n+2) {
    margin-top: 14px;
  }

  .app-icon, .google-play-icon {
    width: 20px;
    margin-right: 8px;
  }

  .sport-section:nth-child(odd) .sport-item-preview {
    position: absolute;
    left: calc(50% - 96px);
    right: auto;
    top: 80px;
  }

  .sport-section:nth-child(even) .sport-item-preview {
    position: absolute;
    left: calc(50% - 151px);
    top: 92px;
    right: auto;
  }

  .sport-section:nth-child(odd) .sport-item-content {
    width: auto;
    left: auto;
  }
  
  .sport-section:nth-child(even) .sport-item-content {
    width: auto;
  }

  .sport-item-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 300px;
  }

  .sport-item:first-child {
    padding-top: 20px;
  }
  
  .sport-item-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
  }

  .sport-item .sport-item-counter::after {
    content: "";
    border-radius: 2px;
    width: 15px;
    height: 4px;
  }

  .sport-item-subtitle {
    font-size: 23px;
    line-height: 34px;
  }

  .promo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .promo-item:nth-child(odd) .promo-image-preview {
    order: 0;
  }

  .promo-item:nth-child(even) .promo-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .promo-item:nth-child(odd) .promo-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .promo-item {
    padding-bottom: 70px;
  }

  .promo-item-counter {
    width: 70px;
    height: 70px;
    top: -60px;
    left: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .promo-item-counter::after {
    content: "";
    border-radius: 2px;
    width: 17px;
    height: 4px;
  }
  
  .promo-item-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 0px;
    margin-top: 34px;
  }

  .footer {
    background-image: url("../images/game_767.jpg")
  }
  
  .footer-content-box {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .footer-content-title {
    flex-direction: column;
  }

  .surface-logo {
    width: 72px;
    padding: 13px 8px;
    border-radius: 14px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .surface-logo .surface-logo-icon {
    width: 56px;
  }

  .footer-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    line-height: 41px;
    font-weight: 700;
  }

  .footer-subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #a496ca;
    font-weight: 400;
    margin-top: 0;
  }

  .footer-content-box .download-block {
    margin-top: 76px;
    margin-bottom: 90px;
  }

  .footer-content-box .logo-link {
    margin-bottom: 0;
  }

}